<header class='w-full flex items-center justify-between p-5' data-controller='menu'>
  <div>
  La meva cova
  </div>

  <div class='menu-icon sm:hidden absolute top-4 right-2'>
    <%= image_tag('icons/menu.svg', size: "30x30", class: 'menu-icon-image') %>
  </div>
  <nav class="mobile-menu bg-grey-200 hidden">
    <ul>
    <li>Diseños</li>
    <li>Tienda</li>
    <li>Sobre mí</li>
    <li>Contacto</li>
    </ul>
  </nav>
</header>